* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2042b6;
  --secondary-color: #ededed;
  --secondary-light-color: #f3f3f3;
  --secondary-deep-color: #e6e6e6;
  --primary-text-color: #191618;
}

html {
  /* somethings */
}

body {
  /* somethings */
}

/* typography */
.title-1 {
  font-size: 78px;
  line-height: 109.9px;
  color: white;
  font: Nantes;
  font-weight: 400;
}
.title-2 {
  font-size: 48px;
  line-height: 67.63px;
  color: #191618;
  font: Nantes;
  font-weight: 400;
}
.title-3 {
  font-size: 48px;
  line-height: 57.6px;
  color: #191618;
  font: Nantes;
  font-weight: 400;
}
.title-4 {
  font-size: 42px;
  line-height: 59.18px;
  color: white;
  font: Nantes;
  font-weight: 400;
}
.title-5 {
  font-size: 36px;
  line-height: 50.72px;
  color: white;
  font: Nantes;
  font-weight: 400;
}
.title-6 {
  font-size: 36px;
  line-height: 48.96px;
  color: #000000;
  font: Nantes;
  font-weight: 400;
}
.title-7 {
  font-size: 30px;
  line-height: 42.27px;
  color: #7d7f81;
  font: Nantes;
  font-weight: 400;
}
.title-8 {
  font-size: 30px;
  line-height: 36px;
  color: #fc714d;
  font: Nantes;
  font-weight: 400;
}

.subtitle {
  font-size: 24px;
  line-height: 28.8px;
  color: #191618;
  font-family: Nantes;
  font-weight: 400;
}

.paragraph-1 {
  font-size: 21px;
  line-height: 25.2px;
  color: white;
  font: Messina Sans;
  font-weight: 350;
}
.paragraph-2 {
  font-size: 21px;
  line-height: 25.2px;
  color: #2042b6;
  font: Nantes;
  font-weight: 400;
}
.paragraph-3 {
  font-size: 20px;
  line-height: 30.12px;
  color: #115cd9;
  font: Neue Haas Unica W1G;
  font-weight: 400;
}
.paragraph-4 {
  font-size: 20px;
  line-height: 28px;
  color: #191618;
  font: Messina Sans;
  font-weight: 400;
}
.paragraph-5 {
  font-size: 20px;
  line-height: 24px;
  color: #9fa0a1;
  font: Messina Sans;
  font-weight: 700;
}
.paragraph-6 {
  font-size: 20px;
  line-height: 24px;
  color: #191618;
  font: Messina Sans;
  font-weight: 350;
}
.paragraph-7 {
  font-size: 18px;
  line-height: 21.6px;
  color: #191618;
  font: Messina Sans;
  font-weight: 400;
}
.paragraph-8 {
  font-size: 16px;
  line-height: 25.6px;
  color: #191618;
  font: Messina Sans;
  font-weight: 350;
}
.paragraph-9 {
  font-size: 16px;
  line-height: 24.1px;
  color: #cdcdcd;
  font: Neue Haas Unica W1G;
  font-weight: 400;
}
.paragraph-10 {
  font-size: 16px;
  line-height: 24px;
  color: #191618;
  font: Messina Sans;
  font-weight: 350;
}
.paragraph-11 {
  font-size: 16px;
  line-height: 23.09px;
  color: white;
  font: Messina Sans;
  font-weight: 400;
}
.paragraph-12 {
  font-size: 16px;
  line-height: 22.54px;
  color: white;
  font: Nantes;
  font-weight: 400;
}
.paragraph-13 {
  font-size: 16px;
  line-height: 22.4px;
  color: #191618;
  font: Nantes;
  font-weight: 400;
}
.paragraph-14 {
  font-size: 16px;
  line-height: 19.2px;
  color: #000000;
  font: Messina Sans;
  font-weight: 700;
}
.paragraph-15 {
  font-size: 16px;
  line-height: 19.2px;
  color: #000000;
  font: Nantes;
  font-weight: 400;
}
.paragraph-16 {
  font-size: 16px;
  line-height: 19.2px;
  color: white;
  font: Messina Sans;
  font-weight: 400;
}
.paragraph-17 {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font: Inter;
  font-weight: 700;
}
.paragraph-18 {
  font-size: 14px;
  line-height: 21px;
  color: #191618;
  font: Inter;
  font-weight: 400;
}
.paragraph-19 {
  font-size: 14px;
  line-height: 21.08px;
  color: white;
  font: Neue Haas Unica W1G;
  font-weight: 400;
}
.paragraph-20 {
  font-size: 14px;
  line-height: 19.6px;
  color: #2042b6;
  font: Messina Sans;
  font-weight: 400;
}
.paragraph-21 {
  font-size: 14px;
  line-height: 19.04px;
  color: #9fa0a1;
  font: Messina Sans;
  font-weight: 700;
}
.paragraph-22 {
  font-size: 14px;
  line-height: 19.04px;
  color: #000000;
  font: Messina Sans;
  font-weight: 400;
}
.paragraph-23 {
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
  font: Messina Sans;
  font-weight: 400;
}
.paragraph-24 {
  font-size: 12px;
  line-height: 18.07px;
  color: #191618;
  font: Neue Haas Unica W1G;
  font-weight: 400;
}
.paragraph-25 {
  font-size: 12px;
  line-height: 17.32px;
  color: white;
  font: Messina Sans;
  font-weight: 400;
}
.paragraph-26 {
  font-size: 12px;
  line-height: 14.4px;
  color: #191618;
  font: Messina Sans;
  font-weight: 400;
}
