@import "./partials/global";
@import "./partials/variables";
@import "./partials/header";
@import "./partials/chart";
@import "./partials/companies";
@import "./partials/future";
@import "./partials/carousel";
@import "./partials/stories";
@import "./partials/about";
@import "./partials/footer";

.divider-container-1 {
  width: calc(100% - 186px);
  margin: 100px 93px 80px 93px;

  .divider-1 {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #90b8f0;
  }
}

.divider-container-2 {
  width: calc(100% - 186px);
  margin: 100px 93px 126px 93px;

  .divider-2 {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #90b8f0;
  }
}

.portfolio-companies {
  width: calc(100% - 186px);
  margin: 0 93px 58px 93px;

  .portfolio-companies-container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;

    main {
      margin-top: 48px;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;

      div {
        background-color: #fff;
        width: 220px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
      }
    }
  }
}

.check-nantes {
  font-size: 48px;
  font-family: "Nantes", sans-serif;
}
.check-messina {
  margin-bottom: 20px;
  font-family: "Messina Sans", sans-serif;
}
.check-neue-haas {
  margin: 20px 0 20px 0;
  font-size: 24px;
  font-family: "Neue Haas Unica W1G", sans-serif;
}

// nav {
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;

//     li {
//       display: inline-block;

//       a {
//         text-decoration: none;
//         display: inline-block;
//         padding: 15px;
//         background-color: cadetblue;
//         color: $primary-color;
//       }
//     }
//   }
// }

// .main {
//   padding: 50px;
//   background-color: rebeccapurple;

//   #{&}__paragraph {
//     color: #fff;
//   }

//   #{&}__link {
//     display: inline-block;
//     padding: 15px;
//     background-color: salmon;
//     color: #fff;
//     text-decoration: none;

//     &:hover {
//       color: red;
//     }
//   }
// }

// h1 {
//   font-size: 24px;
//   // font-weight: map-get($weight: "regular");
// }

// .primary-extend {
//   display: inline-block;
//   padding: 15px;
//   text-decoration: none;
//   background-color: indigo;
//   color: #fff;

//   &:hover {
//     text-decoration: underline;
//   }
// }

// .secondary-extend {
//   background-color: lightslategray;
//   @extend .primary-extend;

//   &:hover {
//     border: 3px solid black;
//   }
// }
