@import "./global";
@import "./variables";

.about {
  background-color: #fff;
  @include displayProperty(row, center, space-between, 200px);
  padding-left: 72px;
  border-radius: 12px;

  div {
    h4 {
      margin: 0px 0 10px 0;
    }

    p {
      span {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }

    button {
      margin-top: 30px;
    }
  }

  img {
    width: 523px;
    height: 420px;
  }
}
