@import "./global";
@import "./variables";

.carousel-section {
  @include xs {
    width: calc(100% - 50px);
    margin: 0 25px 100px 25px;
  }
  @include md {
    width: calc(100% - 186px);
    margin: 0 93px 191px 93px;
  }

  .carousel-container {
    background-image: url("../../assets/images/carousel-bg.svg");
    background-size: 616px 595.35px;
    background-repeat: no-repeat;
    background-position: right bottom;

    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;

    div {
      margin-bottom: 20px;

      button {
        @include displayProperty(row, center, space-between, 0);
        @include primaryButton(15px, 24px, 14px, 22px);
        margin-top: 20px;
        margin-bottom: 15px;

        h2 {
          margin-right: 46px;
        }
      }
    }

    .wrapper {
      width: 100%;
      position: relative;

      .carousel-arrow {
        @include xs {
          top: 70%;
        }
        @include sm {
          top: 60%;
        }
        @include md {
          top: 70%;
        }
        @include lg {
          top: 75%;
        }
        @include xl {
          top: 78%;
        }
        @include breakpoint(1400px) {
          top: 83%;
        }
        width: 56px;
        height: 56px;
        cursor: pointer;
        font-size: 1.25rem;
        position: absolute;
        text-align: center;
        line-height: 50px;
        background-color: #fff;
        padding: 20px;
        border-radius: 50%;
        box-shadow: 0px 36px 36px 0px #0000001f;
      }
      .left-arrow {
        left: 5px;
      }
      .right-arrow {
        transform: rotate(180deg);
        left: 85px;
      }

      .carousel {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 2) - 80px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        border-radius: 8px;
        scroll-behavior: smooth;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
        .carousel.no-transition {
          scroll-behavior: auto;
        }
        .carousel.dragging {
          scroll-snap-type: none;
          scroll-behavior: auto;
        }
        .carousel.dragging .card {
          cursor: grab;
          user-select: none;
        }
        .carousel :where(.card, .img) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .carousel .card {
          scroll-snap-align: start;
          list-style: none;
          background: #fff;
          cursor: pointer;
          flex-direction: column;
          border-radius: 8px;
        }

        li {
          list-style: none;
        }

        li::marker {
          content: "";
        }

        .card .img img {
          width: 100%;
          border-radius: 6px;
          object-fit: cover;
        }
      }

      .carousel-control {
        @include xs {
          @include displayProperty(column, center, space-between, 0);
          padding-left: 150px;
        }
        @include sm {
          @include displayProperty(column, center, space-between, 0);
          padding-left: 100px;
        }
        @include xs {
          @include displayProperty(column, center, space-between, 0);
          padding-left: 80px;
        }
        @include lg {
          @include displayProperty(row, center, space-between, 0);
          padding: 0 163px;
        }

        div {
          @include displayProperty(row, center, center, 10px);
          margin-bottom: 0;

          button {
            background-color: #fff;
          }

          p {
            color: black;
          }
        }

        button {
          @include primaryButton(23px, 20px, 22px, 20px);
          margin-top: 0;
        }
      }
    }
    @media screen and (max-width: 900px) {
      .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
      }
    }
    @media screen and (max-width: 600px) {
      .wrapper .carousel {
        grid-auto-columns: 100%;
      }
    }
  }
}
