@import "./global";
@import "./variables";

.carousel-section {
  width: calc(100% - 186px);
  margin: 0 93px 191px 93px;

  .carousel-container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;

    div {
      margin-bottom: 20px;

      button {
        @include displayProperty(row, center, space-between, 0);
        background-color: $primary-color;
        border: none;
        margin-top: 20px;
        margin-bottom: 15px;
      }
    }

    .wrapper {
      width: 100%;
      position: relative;

      .carousel-arrow {
        top: 88%;
        height: 14.15px;
        width: 15.74px;
        cursor: pointer;
        font-size: 1.25rem;
        position: absolute;
        text-align: center;
        line-height: 50px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0px 36px 36px 0px #0000001f;
      }
      .left-arrow {
        left: 5px;
      }
      .right-arrow {
        transform: rotate(180deg);
        left: 80px;
      }

      .carousel {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 2) - 80px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        border-radius: 8px;
        scroll-behavior: smooth;
        scrollbar-width: none;

        .carousel::-webkit-scrollbar {
          display: none;
        }
        .carousel.no-transition {
          scroll-behavior: auto;
        }
        .carousel.dragging {
          scroll-snap-type: none;
          scroll-behavior: auto;
        }
        .carousel.dragging .card {
          cursor: grab;
          user-select: none;
        }
        .carousel :where(.card, .img) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .carousel .card {
          scroll-snap-align: start;
          list-style: none;
          background: #fff;
          cursor: pointer;
          flex-direction: column;
          border-radius: 8px;
        }
        .card .img img {
          width: 580px;
          height: 326px;
          border-radius: 6px;
          object-fit: cover;
        }
      }

      .carousel-control {
        @include displayProperty(row, center, space-between, 0);
        padding: 0 163px;

        div {
          @include displayProperty(row, center, center, 0);

          p {
            color: black;
          }
        }
      }
    }
    @media screen and (max-width: 900px) {
      .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
      }
    }
    @media screen and (max-width: 600px) {
      .wrapper .carousel {
        grid-auto-columns: 100%;
      }
    }
  }
}
