@import "./global";
@import "./variables";

.chart {
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0 65px 20px 23px;
  margin-bottom: 60px;

  aside {
    background-color: #eff3f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .chart__main {
    .chart__main_title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      h3 {
        color: #191618;
      }
    }

    .chart__main_index {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding-top: 17px;
      padding-bottom: 19px;

      div {
        background-color: $secondary-light-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        padding: 10px 10px 10px 14px;

        div {
          p {
            width: 95%;
            text-align: end;
          }

          span {
            display: inline-block;
            width: 4px;
            height: 30px;
            color: #fc714d;
            border-radius: 1px;
          }
        }
      }
    }

    .chart__main_handle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 19px;

      .chart__main_handle-large {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .chart__main_handle-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .chart__main_visual {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          span {
            display: inline-block;
            width: 10px;
            height: 10px;
          }

          &:nth-of-type(1) span {
            background-color: #fc714d;
          }
          &:nth-of-type(2) span {
            background-color: #615de3;
          }
          &:nth-of-type(3) span {
            background-color: #afcd80;
          }
          &:nth-of-type(4) span {
            background-color: #6f34a1;
          }

          p {
            color: $primary-text-color;
          }
        }
      }
    }
  }
}
