@import "./global";
@import "./variables";

.footer {
  background-color: $secondary-deep-color;
  @include displayProperty(row, center, space-between, 83px);
  padding: 77px 93px 73px 93px;

  .footer__description {
    h3 {
      margin-bottom: 278px;
    }
  }
}
