@import "./global";
@import "./variables";

.future {
  margin-bottom: 155px;

  div {
    h2 {
      margin-bottom: 18px;
    }
    p {
      margin-bottom: 26px;
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;

    div {
      background-color: #fff;
      width: 220px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
    }
  }
}
