@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin title($fontSize, $lineHeight, $color) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
  font-family: "Nantes";
  font-weight: 400;
}

@mixin paragraph($fontSize, $lineHeight, $color, $fontFamily, $fontWeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
  font-family: $fontFamily;
  font-weight: $fontWeight;
}

/* typography */
.title-1 {
  @include title(78px, 109.9px, "#fff");
}
.title-2 {
  @include title(48px, 67.63px, "#191618");
}
.title-3 {
  @include title(48px, 57.6px, "#191618");
}
.title-4 {
  @include title(42px, 59.18px, "#fff");
}
.title-5 {
  @include title(36px, 50.72px, "#fff");
}
.title-6 {
  @include title(36px, 48.96px, "#000000");
}
.title-7 {
  @include title(30px, 42.27px, "#7d7f81");
}
.title-8 {
  @include title(30px, 36px, "#fc714d");
}

.subtitle {
  font-size: 24px;
  line-height: 28.8px;
  color: #191618;
  font-family: "Nantes";
  font-weight: 400;
}

.paragraph-1 {
  @include paragraph(21px, 25.2px, "#fff", "Messina Sans", 350);
}
.paragraph-2 {
  @include paragraph(21px, 25.2px, "#2042b6", "Nantes", 400);
}
.paragraph-3 {
  @include paragraph(20px, 30.12px, "#115cd9", "Neue Haas Unica W1G", 400);
}
.paragraph-4 {
  @include paragraph(20px, 28px, "#191618", "Messina Sans", 400);
}
.paragraph-5 {
  @include paragraph(20px, 24px, "#9fa0a1", "Messina Sans", 700);
}
.paragraph-6 {
  @include paragraph(20px, 24px, "#191618", "Messina Sans", 350);
}
.paragraph-7 {
  @include paragraph(18px, 21.6px, "#191618", "Messina Sans", 400);
}
.paragraph-8 {
  @include paragraph(16px, 25.6px, "#191618", "Messina Sans", 350);
}
.paragraph-9 {
  @include paragraph(16px, 24.1px, "#cdcdcd", "Neue Haas Unica W1G", 400);
}
.paragraph-10 {
  @include paragraph(16px, 24px, "#191618", "Messina Sans", 350);
}
.paragraph-11 {
  @include paragraph(16px, 23.09px, "#fff", "Messina Sans", 400);
}
.paragraph-12 {
  @include paragraph(16px, 22.54px, "#fff", "Nantes", 400);
}
.paragraph-13 {
  @include paragraph(16px, 22.4px, "#191618", "Nantes", 400);
}
.paragraph-14 {
  @include paragraph(16px, 19.2px, "#000000", "Messina Sans", 700);
}
.paragraph-15 {
  @include paragraph(16px, 19.2px, "#000000", "Nantes", 400);
}
.paragraph-16 {
  @include paragraph(16px, 19.2px, "white", "Messina Sans", 400);
}
.paragraph-17 {
  @include paragraph(14px, 21px, "#000000", "Inter", 700);
}
.paragraph-18 {
  @include paragraph(14px, 21px, "#191618", "Inter", 400);
}
.paragraph-19 {
  @include paragraph(14px, 21.08px, "#fff", "Neue Haas Unica W1G", 400);
}
.paragraph-20 {
  @include paragraph(14px, 19.6px, "#2042b6", "Messina Sans", 400);
}
.paragraph-21 {
  @include paragraph(14px, 19.04px, "#9fa0a1", "Messina Sans", 700);
}
.paragraph-22 {
  @include paragraph(14px, 19.04px, "#000000", "Messina Sans", 400);
}
.paragraph-23 {
  @include paragraph(14px, 16.8px, "#000000", "Messina Sans", 400);
}
.paragraph-24 {
  @include paragraph(12px, 18.07px, "#191618", "Neue Haas Unica W1G", 400);
}
.paragraph-25 {
  @include paragraph(12px, 17.32px, "#fff", "Messina Sans", 400);
}
.paragraph-26 {
  @include paragraph(12px, 14.4px, "#191618", "Messina Sans", 400);
}
