@import "./global";
@import "./variables";

.header {
  background-color: $primary-color;
  width: calc(100% - 50px);
  margin: 25px 25px 60px 25px;

  .header-container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;

    .navbar-container {
      width: 100%;
      border-radius: 6px;
      position: fixed;
      top: 25px;
      left: 50px;
      // transform: translateX(-50%);
      z-index: 9;

      nav {
        max-width: 1366px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 8px 30px 8px 18px;

        .wppool-logo {
          width: 200.52px;
          height: 34.63px;
        }

        div {
          @include displayProperty(row, center, center, 12px);
        }

        .responsive-menu {
          display: none;
          background-color: #fff;
          padding: 28px 25.22px 38px 35px;
          border-radius: 18px;
          position: fixed;
          top: 27px;
          right: 27px;
          z-index: 10;

          .responsive-menu-header {
            @include displayProperty(row, center, center, 12px);
            margin-bottom: 33px;

            .responsive-menu-share {
              background-color: #afcd80;
              border-radius: 100%;
              padding: 14px;
            }

            .primary-button {
              @include primaryButton(17px, 16px, 17px, 16px);
            }

            #menu-cross-btn {
              background-color: #fff;
              cursor: pointer;
              margin-left: 14.22px;
              border: none;
            }
          }

          .responsive-menu-items {
            ul {
              list-style: none;

              li {
                .responsive-menu-item-last {
                  margin-top: 12px;
                }

                margin-bottom: 24px;

                a {
                  text-decoration: none;
                }
              }
            }
          }
        }

        .responsive-menu.show {
          display: block;
        }
      }

      .bg-white {
        .wppool-logo {
          display: none;
        }

        .nav-share-icon {
          display: none;
        }

        .nav-share-icon-dark {
          border: 1px solid #afcd80;
          border-radius: 100%;
          padding: 14px;
        }

        .nav-btn {
          background-color: transparent;
          padding: 17px 16px;
          border: 1px solid #115cd9;
          border-radius: 124px;

          p {
            color: $primary-text-color;
          }
        }

        .nav-menu-btn {
          background-color: transparent;
          border: none;
          margin-left: 12px;
          cursor: pointer;

          .menu-btn-icon {
            display: none;
          }
        }
      }

      .bg-transparent {
        .wppool-logo-dark {
          display: none;
        }

        .nav-share-icon {
          border: 1px solid #ffffff;
          border-radius: 100%;
          padding: 14px;
        }

        .nav-share-icon-dark {
          display: none;
        }

        .nav-btn {
          background-color: transparent;
          padding: 17px 16px;
          border: 1px solid #ffffff;
          border-radius: 124px;
        }

        .nav-menu-btn {
          background-color: transparent;
          border: none;
          margin-left: 12px;
          cursor: pointer;

          .menu-btn-icon-dark {
            display: none;
          }
        }
      }
    }

    .bg-white-outer {
      width: calc(100% - 100px);
      background-color: $secondary-light-color;
    }

    .bg-transparent-outer {
      width: calc(100% - 100px);
      background-color: transparent;
    }

    main {
      background-image: url("../../assets/images/hero-bg-1.png");
      background-size: 549px 542px;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      padding: 41px 44px 40px 44px;

      aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;

        div {
          h3 {
            margin-bottom: -5px;
          }
        }
      }

      .main__content {
        background-image: url("../../assets//images/hero-bg-2.svg");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 542px;

        h1 {
          margin-bottom: -6px;
        }
      }
    }
  }
}
