@import "./global";
@import "./variables";

.stories {
  width: calc(100% - 186px);
  margin: 0 93px 0 93px;

  .stories-container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;

    .stories-heading {
      margin-bottom: 94px;

      h2 {
        margin-bottom: 10px;
      }
    }

    main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      grid-gap: 88px 20px;

      div {
        background-color: #fff;
        padding: 0 37px 20px 20px;
        border-radius: 8px;
        position: relative;

        img {
          width: 120px;
          height: 120px;
          margin-top: -48px;
          border-radius: 4px;
          box-shadow: 0px 16px 12px 0px #0000000a;
        }

        div {
          background-color: #fff;
          padding: 6px 5px 5px 6px;
          border-radius: 4px 0 4px 0;
          position: absolute;
          top: -48px;
          left: 20px;

          .avatar-corner-icon {
            width: 49px;
            height: 7px;
          }
        }
      }

      .stories-details {
        margin: 18px 0 2px;
      }

      button {
        margin-top: 14px;
      }
    }
  }
}
